<div class="card card-chart">
    <div class="card-header card-header-rose h-100">
        <h3 class="card-title">Percentual de obesos</h3>
    </div>

    <div class="card-body">


        <div class="row mt-4">
            <div class="col-md text-center">
                <h2 class="mt-0">Homens</h2>
                <div class="display-2">{{porcentagemObesosMaculino}} %</div>


            </div>
            <div class="col-md text-center">

                <h2 class="mt-0">Mulheres</h2>
                <div class="display-2">{{porcentagemObesosFeminino}} %</div>


            </div>


        </div>
        <p></p>
    </div>
    <div class="card-footer mt-3">
        <div class="text-center">
                    Considerado do total de candidatos
        </div>
    </div>

</div>
<p></p>
