

<div class="row">
    <div class="col">
        <div class="card card-chart" >
            <div class="card-header card-header-rose h-100">
                <h3 class="card-title">Candidatos</h3>
            </div>

            <div class="card-body" >


                <div class="row">
                    <div class="col-md text-center">
                        <div class="display-4">{{quantidadeTotalDeCandidatos}}</div>


                    </div>


                </div>
            </div>


        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card card-chart" >
            <div class="card-header card-header-rose h-100">
                <h3 class="card-title">Doadores Aptos</h3>
            </div>

            <div class="card-body" >
                <div class="row">
                    <div class="col-md text-center">
                        <div class="display-4">{{quantidadeDoadoresAptos}}</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
