<div class="row">
        <div class="col-md" *ngFor="let tipoDoador of quantidadeDoadoresPorTipoSanguineolist ">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon ">
                    <div class="card-icon text-center title-card" style="padding-top: 0; padding-bottom: 0">
                        <H3>{{tipoDoador.tipoSanguineo}}</H3>
                    </div>

                </div>

                <div class="card-body">
                    <h4 class="card-title text-left">
                        {{tipoDoador.quantidadeDeDoadores}}
                        Doadores

                    </h4>

                </div>
            </div>
        </div>

</div>

